*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
/* main section(nav-bar + home) */
.main{
  height: 759px;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(./Photos/mainBackground\ -\ Copy.png);
  /* filter: brightness(50%); */
  background-color: grey;
  background-blend-mode: multiply;
}
/* nav- bar */
.nav{
  margin-left: 76px;
  width: 87.5%;
  border-bottom: 2px solid rgb(106, 106, 106);
  height: 96px;
  display: flex;
  flex-direction: row;
  /* background-color: blue; */
  align-items: center;
  gap: 421px;
}

.nav-logo img{
  width: 118px;
  margin-left: 50px;
  margin-top: -5px;
}
.nav-menu{
  display: flex;
  flex-direction: row;
  gap: 60px;

}
.nav-des{
  color: rgb(192, 191, 191);
  font-size: 15px;
  padding-top: 5px;
  font-weight: 500;
}
/* home */
.home{
  margin-left: 125px;
  margin-top: 125px;
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.home-head{
  width: 550px;
  color: white;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 70px;
}
.home-des{
  margin-top: -3px;
  width: 330px;
  color: rgb(161, 161, 161);
  font-weight: 600;
  font-size: 15px;
  line-height: 27.5px;
}
.home-btn{
  width: 170px;
  height: 53px;
  font-size: 15px;
  color: whitesmoke;
  text-align: center;
  font-weight: 800;
  background-color: #6663E9;
  padding-top: 16px;
  border-radius: 50px;
}
/* logo- section */
.multi-logo{
  margin-top: -97.2px;
  position: absolute;
  margin-left: 33px;
  background: white;
  width: 94.5%;
  height: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  gap: 75px;
}
.logo-menu img{
  width: 130px;
}
/* best Estate section */
.best{
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.best header{
  width: 430px;
  letter-spacing: 1px;
  text-align: center;
  color: rgb(38, 38, 38);
  font-size: 49.5px;
  font-weight: 900;
  line-height: 68px;
  margin-top: 152px;
}
.best-1{
  width: 972px;
  height: 350px;
  display: flex;
  flex-direction: row;
  gap: 17px;
  margin-top: 3px;
  margin-left: 30px;
}
.best-1 .home-2 .hs-img{
  padding-top: 100px;
}
.hs-img img{
  /* margin-left: 18px; */
  border-radius: 17px;
  width: 307px;
  height: 337px;
}
.hs-des{
  width: 100px;
}
.best-2{
  display: flex;
  flex-direction: row;
}
.best-3{
  display: flex;
  flex-direction: row;
}