*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
/* main section(nav-bar + home) */
.main{
  height: 759px;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(./Photos/mainBackground\ -\ Copy.png);
  /* filter: brightness(50%); */
  background-color: grey;
  background-blend-mode: multiply;
}
/* nav- bar */
.nav{
  margin-left: 76px;
  width: 87.5%;
  border-bottom: 2px solid rgb(106, 106, 106);
  height: 96px;
  display: flex;
  flex-direction: row;
  /* background-color: blue; */
  align-items: center;
  gap: 421px;
}

.nav-logo img{
  width: 118px;
  margin-left: 50px;
  margin-top: -5px;
}
.nav-menu{
  display: flex;
  flex-direction: row;
  gap: 60px;

}
.nav-des{
  color: rgb(192, 191, 191);
  font-size: 15px;
  padding-top: 5px;
  font-weight: 500;
}
/* home */
.home{
  margin-left: 125px;
  margin-top: 125px;
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.home-head{
  width: 550px;
  color: white;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 70px;
}
.home-des{
  margin-top: -3px;
  width: 330px;
  color: rgb(161, 161, 161);
  font-weight: 600;
  font-size: 15px;
  line-height: 27.5px;
}
.home-btn{
  width: 170px;
  height: 53px;
  font-size: 15px;
  color: whitesmoke;
  text-align: center;
  font-weight: 800;
  background-color: #6663E9;
  padding-top: 16px;
  border-radius: 50px;
}
/* logo- section */
.multi-logo{
  margin-top: -97.2px;
  position: absolute;
  margin-left: 33px;
  background: white;
  width: 94.5%;
  height: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  gap: 75px;
}
.logo-menu img{
  width: 130px;
}